---
import HeroIndex from "@/components/swipper/hero-index";
import CardsInfo from "@/pages/home/cards-info.astro";
---

<section class="">
    <HeroIndex client:only="react" />

    <CardsInfo />
</section>